{{ 'subscriptions-banner.css' | asset_url | stylesheet_tag}}
{{ 'subscriptions-ticker.css' | asset_url | stylesheet_tag }}
<div class="subscriptions-banner banner-image-left">
          <!-- banner image -->

          <img src={{"subscription-banner-desktop.jpg" | asset_url}}  class="subscriptions-banner-image">
          <img src={{"subscription-banner-mobile.jpg" | asset_url}}  class="subscriptions-banner-mobile">
<!--        ticker-mobile     -->
  <div id="shopify-section-home-ticker-mobile" class="shopify-section">
          <section class="home-ticker ticker container-fluid" id="homeTickerhome-ticker" data-section-id="home-ticker" data-section-type="ticker">
              <style>
                #homeTickerhome-ticker {
                  background-color: #EB4D5C;
                  color: #ffffff;
                }
                #homeTickerhome-ticker .ticker__inner {
                  animation-duration: 20s;
                } 
              </style>
          <div class="ticker__inner">
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Free shipping
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                     Free gift with 3rd subscription order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Early access to new product
                  </p>
                
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Best customer service!
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
                  15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
                    Free shipping
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Free gift with 3rd subscription order
                  </p>
                
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Early access to new product
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Best customer service!
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Free shipping
                  </p>
                
            </div>
          </section>
        </div>

<!-- ticker mobile end  -->
 
          <!-- banner text container -->
          <div class="subscriptions-banner-text-container">
            <div class="banner-title-container">
              <h2 class="banner-title">FRENCHIE</h2>
              <h2 class="banner-title-2">LOVERS CLUB</h2>
            </div>
              <p class="banner-description">Never run out of your favorite Frenchie. Get your tres sexy items delivered straight to your door (oh la la!). Voulez vous? ;)'</p>
              <a href="https://getfrenchie.com/account/register" type="button" class="banner-button">Subscribe Now!</a>
              <p class="banner-login">Already a member? <a href="https://getfrenchie.com/account/login" class="banner-login">Log in.</a></p>
          </div>
</div>

<!-- TICKER SECTION -->
<div id="shopify-section-home-ticker" class="shopify-section">
          <section class="home-ticker ticker container-fluid" id="homeTickerhome-ticker" data-section-id="home-ticker" data-section-type="ticker">
              <style>
                #homeTickerhome-ticker {
                  background-color: #EB4D5C;
                  color: #ffffff;
                }
                #homeTickerhome-ticker .ticker__inner {
                  animation-duration: 20s;
                } 
              </style>
          <div class="ticker__inner">
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Free shipping
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                     Free gift with 3rd subscription order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Early access to new product
                  </p>
                
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
                    </svg>
                    </span>
                    Best customer service!
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
                  15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
                    Free shipping
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Free gift with 3rd subscription order
                  </p>
                
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Early access to new product
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Best customer service!
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            15% off each recurring order
                  </p>
                
                  <p class="ticker__text">
                    <span class="ticker__check"><svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01862 15.8563C7.71671 16.2661 7.24655 16.5179 6.7382 16.543C6.22986 16.5683 5.73751 16.3634 5.39689 15.9851L2.34447 12.5977C1.85935 12.0597 1.90244 11.2303 2.44047 10.7452C2.97901 10.2601 3.80785 10.3034 4.29297 10.8417L6.45255 13.2385C6.48455 13.2741 6.53099 13.2932 6.57873 13.2908C6.62673 13.2885 6.6706 13.2645 6.69924 13.2263L12.8212 5.03342C13.2508 4.45024 14.0719 4.32612 14.6553 4.75602C15.2383 5.18592 15.3621 6.00702 14.9322 6.58995L8.01862 15.8563Z" fill="white"></path>
            </svg>
            </span>
            Free shipping
                  </p>
                
            </div>
          </section>
        </div>