{{ 'survey-lp.css' | asset_url | stylesheet_tag }}

<div class="survey-main-container">
  <div class="survey-header-container survey-container">
    <h1 class="survey-header-title">
      OUR SUPER<br>SEXY SURVEY
    </h1>
    <img class="survey-header-image" src="{{ 'letstalkaboutsex.png' | asset_url }}" alt="Lets Talk">
  </div>

  <div class="survey-description-container survey-container">
    <p class="survey-description">Our mission at Frenchie is to be part of the dialogue that contributes to the destigmatization of sex-creating a world where we can get off however, and with whoever we like!</p>
    <p class="survey-description">We've had a conversation with almost 300 lovers from all over the world about their sexual behavior, their views on sex and contraception, and how they identify within this brave new sexual world.</p>
  </div>

  <div class="survey-result-container survey-container">

    <div class="left-result-container">
      <div class="left-result-wrapper survey-border-blue">
        <div class="left-result-image-container">
          <img class="left-result-image" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/we-vibe-toy.jpg?v=1666941230' alt="We Vibe Toys">
          <div class="left-result-image-text survey-header">2x<span>PER WEEK</span>
          </div>
        </div>
        <p class="left-result-text">As a global average,
          <b>30%</b>
          of participants have sex more than 2 times per week.</p>
        <p class="left-result-text">In the US,
          <b>53%</b>
          have sex 2 times per week and
          <b>20%</b>
          have sex more than 4 times per week! Oh la la - good for them!
        </p>
        <p class="left-result-text" style="margin-bottom: 5px">
          <b>Top 3 horniest countries</b>
        </p>
        <p class="left-result-text" style="margin: 5px auto auto; max-width: 410px; display: flex; justify-content: space-evenly">
          <span>1. US</span>
          <span>2. AU</span>
          <span>3. NZ</span>
        </p>
      </div>

      <div class="left-result-image-container survey-desktop">
        <img class="left-result-image" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/womanizer-toy.jpg?v=1666945645' alt="Womanizer Toys">
        <div class="left-result-image-text-bibi survey-header">BI BI, BABY!<span>18% identify as bisexual</span>
        </div>
      </div>
    </div>

    <div class="right-result-container">
      <div class="right-result-wrapper">
        <div class="right-result-image-container">
          <img class="right-result-image" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/jana-sabeth.jpg?v=1666950140' alt="Jana Sabeth">
          <div class="right-result-image-text survey-header">FEMALES<br>WANT TO TALK<br>ABOUT SEX<br>MORE THAN MEN<span>
              <b>60%</b>
              of survey participants<br>identified as female</span>
          </div>
        </div>

      </div>
      <div class="survey-call-container survey-container survey-mobile">
        <div class="survey-call-stats">
          <div class="call-stat">
            <div class="stat-title">Hetero/Straight</div>
            <div class="stat-percent">73.5%</div>
            <div></div>
          </div>
          <div class="call-stat">
            <div class="stat-title">Bisexual</div>
            <div class="stat-percent">18%</div>
          </div>
          <div class="call-stat">
            <div class="stat-title">Gay/Lesbian</div>
            <div class="stat-percent">4%</div>
          </div>
          <p class="stat-copy">Approx 5% don't identify as<br>any of the above</p>
        </div>
        <div class="survey-call-copy ">
          <h2 class="call-copy-title survey-header">CALL ME BY<br>MY NAME</h2>
          <p class="call-copy">How participants identify sexually</p>
        </div>
      </div>
      <div class="left-result-image-container survey-mobile">
        <img class="left-result-image" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/womanizer-toy.jpg?v=1666945645' alt="Womanizer Toys">
        <div class="left-result-image-text-bibi survey-header">BI BI, BABY!<span>18% identify as bisexual</span>
        </div>
      </div>

      <div class="right-result-transolo-container">
        <div class="right-result-image-container-trans">
          <img class="right-result-image-trans" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/trans.jpg?v=1666951712' alt="Transtastic">
          <div class="right-result-image-text-trans-wrapper">
            <div class="right-result-image-text-trans survey-header">TRANS<br>TASTIC</div>
            <div>
              <div class="right-result-image-text-trans bottom-text">1</div>
              <div class="right-result-image-text-trans bottom-subtext">identify as trans</div>
            </div>
          </div>
        </div>
        <div class="right-result-image-container-solo">
          <img class="right-result-image-solo" src='https://cdn.shopify.com/s/files/1/0351/0324/4426/files/solos.jpg?v=1666951972' alt="Enjoy Going Solo">
          <div class="right-result-image-text-solo-wrapper">
            <div class="right-result-image-text-solo survey-header">ENJOY<BR>GOING<BR>SOLO</div>
            <div>
              <div class="right-result-image-text-solo bottom-text">3.6</div>
              <div class="right-result-image-text-solo bottom-subtext">prefer masturbation to sex</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="survey-call-container survey-container survey-desktop">
    <div class="survey-call-stats">
      <div class="call-stat">
        <div class="stat-title">Hetero/Straight</div>
        <div class="stat-percent">73.5%</div>
        <div></div>
      </div>
      <div class="call-stat">
        <div class="stat-title">Bisexual</div>
        <div class="stat-percent">18%</div>
      </div>
      <div class="call-stat">
        <div class="stat-title">Gay/Lesbian</div>
        <div class="stat-percent">4%</div>
      </div>
      <p class="stat-copy">Approx 5% don't identify as<br>any of the above</p>
    </div>
    <div class="survey-call-copy ">
      <h2 class="call-copy-title survey-header">CALL ME BY<br>MY NAME</h2>
      <p class="call-copy">How participants identify sexually</p>
    </div>
  </div>

  <div class="survey-image-section"></div>

  <div class="survey-booty-container survey-border-red">
    <div class="booty-call-copy-wrapper">
      <img class="survey-stars" src="https://cdn.shopify.com/s/files/1/0351/0324/4426/files/stars.png?v=1666967666" alt="Stars">
      <h2 class="booty-call-title survey-header">TO BOOTY CALL</h2>
      <h2 class="booty-call-subtitle survey-header">OR TO NOT BOOTY CALL</h2>
      <p class="booty-call-description">
        Half of use are more than likely to get that 2am text with an average of
        <b>50%</b>
        saying they are satisfied with their sex life</p>
    </div>
    <div class="booty-call-stats-wrapper">
      <p class="booty-call-stats-copy">
        Gen Z are the most sexually satisfied generation
      </p>
      <p class="booty-call-stats-subcopy">
        Q: Are you currently satisfied with your sex life?
      </p>

      <div class="booty-call-stats">
        <div class="call-stat">
          <div class="stat-title"></div>
          <div class="stat-percent" style="font-size: .8em;">YES</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Gen Z</div>
          <div class="stat-percent">53.5%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Millenials</div>
          <div class="stat-percent">46%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Gen X</div>
          <div class="stat-percent">48.5%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Baby Boomers</div>
          <div class="stat-percent">46%</div>
        </div>

      </div>

      <p class="booty-call-stats-copy" style="margin: 1em auto;">
        USA is the most sexually satisfied country
      </p>

      <div class="booty-call-stats">
        <div class="call-stat">
          <div class="stat-title"></div>
          <div class="stat-percent" style="font-size: .8em;">YES</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">USA</div>
          <div class="stat-percent">60%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Australia</div>
          <div class="stat-percent">52.5%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">New Zealand</div>
          <div class="stat-percent">37%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">United Kingdom</div>
          <div class="stat-percent">46%</div>
        </div>

      </div>

    </div>
  </div>

  <div class="survey-sw-container">
    <div class="survey-sw-left">
      <div class="survey-sw-left-text-container">
        <div class="sw-left-percent survey-header">57%</div>
        <div class="sw-left-title survey-header">PLAY IT SAFE</div>
        <div class="sw-left-description">during sex by<br>using contraception<br>with
          <b>40% choosing<br>condoms</b>
        </div>
      </div>
    </div>
    <div class="survey-sw-right">
      <div class="survey-sw-right-text-container">
        <div class="sw-right-percent survey-header">#1 WANKER AWARD</div>
        <div class="sw-right-description">And the winner is... the UK<br>with
          <b>100%</b>
          of participants<br>saying they masturbate regularly
        </div>
      </div>
    </div>
  </div>

  <div class="survey-nobaby-container survey-container survey-border-red">
    <div class="survey-nobaby-header-wrapper">
      <h2 class="survey-nobaby-title survey-header">NO BABY ON BOARD</h2>
      <div class="survey-nobaby-subtitle">People who use contraception<br>are more concerned<br>about pregnancy than STIs</div>
    </div>
    <div class="survey-divider"></div>
    <div class="survey-nobaby-stats-wrapper">
      <div class="survey-nobaby-stats-title">The leading reason for using contraception is to prevent pregnancy</div>
      <div class="survey-nobaby-call-stats">

        <div class="call-stat">
          <div class="stat-title">Prevent pregnancy</div>
          <div class="stat-percent">74.5%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Prevent STIs</div>
          <div class="stat-percent">12%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Regulat Periods</div>
          <div class="stat-percent">8%</div>
        </div>
        <div class="call-stat">
          <div class="stat-title">Hormone Balance</div>
          <div class="stat-percent">4%</div>
        </div>

      </div>
    </div>
  </div>

  <div class="survey-shiny-container">
    <div class="shiny-left">
      <h2 class="shiny-title survey-header">SHINY & NEW</h2>
      <p class="shiny-subtitle survey-desktop">
        <b>22%</b>
        are open to<br>new experiences
      </p>
    </div>
    <div class="shiny-right">
      <img class="shiny-right-image" src="https://cdn.shopify.com/s/files/1/0351/0324/4426/files/blindfold.jpg?v=1666981059" alt="Blindfold">
      <p class="shiny-subtitle survey-mobile">
        <b>22%</b>
        are open to<br>new experiences
      </p>
    </div>
  </div>

  <div class="survey-cm-container">
    <div class="survey-cm-left">
      <div class="survey-cm-left-text-container">
        <div class="cm-left-percent survey-header">CUM MASTER</div>
        <div class="cm-left-description">
          <b>75%</b>
          believe their partner<br>
          orgasms at least half the time<br>during sex
        </div>
      </div>
    </div>
    <div class="survey-cm-right">
      <div class="survey-cm-right-text-container">
        <div class="cm-right-percent survey-header">JUST GIVE IT TO<BR>ME ALREADY!!!</div>
        <div class="cm-right-description">
          <b>54%</b>
          are unsatisfied<br>with how often they<br>are getting sexy time
        </div>
      </div>
    </div>
  </div>

  <div class="survey-satisfaction-container survey-border-red">
    <div class="survey-satisfaction-left">
      <h2 class="survey-satisfaction-title survey-header">SATISFACTION<BR>GUARANTEED?</h2>
      <img class="survey-satisfaction-image" src="https://cdn.shopify.com/s/files/1/0351/0324/4426/files/guilherme-caetano.jpg?v=1666985356" alt="Couple">
    </div>
    <div class="survey-satisfaction-right">
      <div class="survey-satisfaction-right-header">While Men may be from Mars<br>
        Women from Venus, the reasons we<br>
        are sexually satisfied or unsatisfied<br>
        are surprisingly similar.
      </div>

      <div class="survey-satisfaction-right-percent survey-header">50% SATISFIED / 50% UNSATISFIED
      </div>

      <div class="survey-satisfaction-divider"></div>

      <div class="survey-satisfaction-right-header-2">

        <i>
          <u>SATISFIED</u>
        </i>

        WITH THEIR SEX LIFE BECAUSE...
      </div>

      <div class="satisfaction-call-stats">
        <div class="satisfaction-comp">
          <div class="satisfaction-female">FEMALES</div>
          <div class="satisfaction-female">Partner knows hot to please</div>
          <div class="satisfaction-female">Open to trying new things</div>
          <div class="satisfaction-female">Confident with their body</div>
        </div>
        <div class="satisfaction-comp">

          <div class="satisfaction-male">MALES</div>
          <div class="satisfaction-male">Partner knows hot to please</div>
          <div class="satisfaction-male">Open to trying new things</div>
          <div class="satisfaction-male">Know what they do/don't like</div>
        </div>
      </div>


      <div class="survey-satisfaction-divider" style="margin-top: 2em"></div>

      <div class="survey-satisfaction-right-header-2">

        <i>
          <u>UNSATISFIED</u>
        </i>

        WITH THEIR SEX LIFE BECAUSE...
      </div>

      <div class="satisfaction-call-stats">
        <div class="satisfaction-comp">
          <div class="satisfaction-female">FEMALES</div>
          <div class="satisfaction-female">Lack of sex</div>
          <div class="satisfaction-female">Low Libido</div>
          <div class="satisfaction-female">Higher desire than partner</div>
        </div>
        <div class="satisfaction-comp">

          <div class="satisfaction-male">MALES</div>
          <div class="satisfaction-male">Lack of sex</div>
          <div class="satisfaction-male">Low Libido</div>
          <div class="satisfaction-male">Higher desire than partner</div>
        </div>
      </div>
    </div>
  </div>

  <div class="survey-image-section-2"></div>

</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
    {
    "name": "survey",
    "category": "ADVANCED LAYOUT"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
</script>