
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face{
    font-family: "Rama Gothic C"; 
    font-weight: 700; 
    font-display: swap; 
    src: url("RamaGothicC-Bold.woff") format("woff"), 
         url("RamaGothicC-Bold.woff2") format("woff2"), 
         url("RamaGothicC-Bold.ttf") format("TrueType"), 
         url("RamaGothicC-Bold.svg") format("svg")
}

@font-face{
    font-family: "Rama Gothic C"; 
    font-weight: 400; 
    font-display: swap; 
    src: url("RamaGothicC-Regular.woff") format("woff"), 
         url("RamaGothicC-Regular.woff2") format("woff2"), 
         url("RamaGothicC-Regular.ttf") format("TrueType"), 
         url("RamaGothicC-Regular.svg") format("svg")
}

@font-face{
    font-family: "Bellarina"; 
    font-display: swap; 
    src: url("Bellarina.woff") format("woff"), 
         url("Bellarina.woff2") format("woff2"), 
         url("Bellarina.ttf") format("TrueType"), 
         url("Bellarina.svg") format("svg")
}

.npl-container{
    max-width: 1490px; 
    margin: auto; 
    padding: 0 30px; 
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.npl-section-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 20px; 
    font-weight: 500;
    line-height: 1.5; 
}

.npl-section-subtitle--text-decoration-underline{
    text-decoration: underline;
}

.npl-section-subtitle--align-left{
    text-align: left;
}

.npl-section-subtitle--align-center{
    text-align: center;
}

.npl-section-subtitle--align-right{
    text-align: right;
}

.npl-section-heading{
    font-family: "Rama Gothic C", sans-serif; 
    font-size: 150px; 
    font-weight: 700; 
    line-height: 1; 
    letter-spacing: 0.5%;
    margin: 0;
}

.npl-heading--align-left{
    text-align: left; 
}
.npl-heading--align-center{
    text-align: center;
}

.npl-heading--align-right{
    text-align: right;
}

@media only screen and (max-width: 1023px){
    .npl-section-heading{
        font-size: 100px;
    }
}

@media only screen and (max-width: 768px){
    .npl-section-heading{
        font-size: 60px;
    }
}

.npl-special-sign{
    font-family: "Bellarina";
    font-weight: 400;
}

.npl-block__title{
    color: #2A4A80;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-top: 0; 
    margin-bottom: 60px;
}

.npl-block__subtitle{
    color: #2A4A80;
    font-family: "Inter", sans-serif; 
    font-size: 24px; 
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-top: 0; 
    margin-bottom: 60px; 
}

.npl-block__rte{
    font-family: "Inter", sans-serif;
    font-size: 24px; 
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.npl-button{
    background-color: #EB4D5C;
    border-radius: 56px;
    color: #fff; 
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    column-gap: 20px;
    font-size: 36px;
    font-weight: 700; 
    line-height: 1; 
    letter-spacing: 0.17em;
    padding: 30px 60px;
    height: 100px;
    width: 600px;
    max-width: 100%;
    text-align: center;  
    text-decoration: none;
    transition: all 0.8s; 
}

.npl-button:hover{
    opacity: 0.8;
}

.npl-button svg{
    width: 36px;
}

@media only screen and (max-width: 1400px){
    .npl-block__title{
        margin-bottom: 40px;
    }
    .npl-block__subtitle{
        margin-bottom: 40px;
    }
    .npl-button{
        font-size: 28px;
        padding: 20px 40px;
        height: 60px;
    }
    .npl-button svg{
        width: 28px;
    }
}

@media only screen and (max-width: 1024px){
    .npl-block__title{
        font-size: 36px;
    }
    .npl-block__subtitle{
        font-size: 20px;
    }
    .npl-block__rte{
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px){
    .npl-block__title{
        font-size: 30px;
    }
    .npl-block__subtitle{
        font-size: 18px;
    }
    .npl-block__rte{
        font-size: 18px;
    }
}