@font-face {
  font-family: Helvetica Neue;
  src: url(https://cdn.shopify.com/s/files/1/0351/0324/4426/files/HelveticaNeue.ttf?v=1663061245);
}

@font-face {
  font-family: Rama Gothic C;
  src: url(https://cdn.shopify.com/s/files/1/0351/0324/4426/files/RamaGothicC-Regular.ttf?v=1663061244);
}
.subscriptions-faq {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4FDF0;
}

.subscriptions-faq-headline {
  font-size: 40px;
  font-weight: 700;
  color: #294A80;
  margin:0 auto 45px;
  font-family: Helvetica;
}

.subscriptions-faq-list {
  width: 100%;
  margin: 0 auto!important;
  padding: 0!important;
  max-width: 900px;
}

.subscriptions-faq-answer {
  text-align: left;
  display: none;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  padding: 1.5rem;
  background: #FD495C;
  line-height: 1.6;
  color: #fff;
  font-family: Helvetica;
  font-weight: 400;
}

.subscriptions-faq-question-container{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: RGBA(123, 144, 141, 0.06);
}

.subscriptions-faq-question {
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 18px;
  color: #294A80;
    text-align: left;
    line-height: 1.2;
}

.subscriptions-faq-load-more {
  font-weight: 800;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
.subscriptions-faq-question-container, p.subscriptions-faq-answer {
    padding: 25px;
}

.subscriptions-faq-list li {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.subscriptions-faq-list li:hover {
  background: rgba(255, 255, 255, 0.3);
}

.subscriptions-faq-show {
  display: block;
}

.subscriptions-faq-hide {
  display: block;
}

.tos-link a {
  color: skyblue;
}

@media (max-width: 1023px) {


  .subscriptions-faq{
    padding: 2.5rem 0px;
  }
  .subscriptions-faq-question-container{
      padding: 1rem 0.5rem 1rem 1rem;
    }

  .subscriptions-faq-list li {
    font-size: 16px;
    line-height: 1;
    position: relative;
  }

  p.subscriptions-faq-answer {
    font-size: 14px;
    line-height: 1.4;
  }

  .subscriptions-faq-question {
    position: relative;
    padding-right: 1rem;
    font-size: 16px;
    line-height: 1.4;
  }

  .subscriptions-faq-load-more {
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
  }

  .subscriptions-faq-list,
  .tos-link {
    width: 90%;
    padding: 0px 0.75rem;
  }
}

@media(max-width: 500px){
  .subscriptions-faq-question-container, p.subscriptions-faq-answer {
    padding: 20px 10px;
}
}
