@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

.main-content{
    padding: 0px !important;
}


/* 
Default font and colors are set here
*/
.subscriptions-container *{
    line-height: 1;
    letter-spacing: inherit;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.main-text-color{
    color: #000 !important;
}

.secondary-text-color{
    color: #000 !important;
}

